doctype html
html(lang='en')
  include common/head.pug
  +head("Get Better Deals")

  body
    header
      include common/navbar.pug
      +navbar(user)
      
      .container
        .row.justify-content-center.mt-5
          .col-md-8.p-5.text-center.border.border-success.rounded.text-light.bg-dark
              h1.mb-3 Chief Collector
              p.lead This page collects emails for sales leads and save them to a database accessible only by an admin.
              p.lead.mb-4 Access Database records upon login as admin.
              p.lead.mb-4 Try it out:

              h3.text-success To get amazing deals, input your email below.

              form(action='/', method="POST")
                .input-group.mb-3
                  input(name="lead_email", type="email", placeholder="Enter your email address").form-control
                  |  
                  .input-group-append
                    button(class="btn btn-primary", type="submit") Get Deals
                if !user
                  small(id="emailHelp", class="form-text text-muted") We'll never share your email with anyone else. #[a(href="/signup") Sign up here to join]
                if user 
                  small(id="emailHelp", class="form-text text-muted") Chief Collector will never share emails or other senstive data with anyone else. #[a(href="/signup") Sign up here to join]


              
    include common/footer.pug 
    +footer()
    script(src="/javascripts/leads.js")