doctype html
html(lang='en')
    include ../common/head.pug
    +head("Collectors login")

    body
        header
            include ../common/navbar
            +navbar(navbar)
            .container
                .row.justify-content-center.mt-5
                    .col-md-5.p-5.text-center.rounded.text-light.bg-primary
                        .jumbotron  
                            h2.text-center Login
                            .row.sm-12   
                                .col-sm-12.col-md-12.col-xs-12
                                    form(action="/login", method="POST")
                                        div.formgroup
                                            label.small.mb-1.mt-3 Email: 
                                            input(placeholder="Please enter your email", rerquired=true, name='email', type="email", value='').form-control
                                            if (errors && errors.email)
                                                p.small.text-danger #{errors.email}
                                            label.small.mb-1.mt-3 Password: 
                                            input(placeholder='Enter password', required=true, name="password", type="password", value="").form-control
                                            if (errors && errors.password)
                                                p.small.text-danger #{errors.password}
                                            button.mt-3.btn.btn-primary(type="submit") Log in
                                            p.m-2.mb-0
                                                | Forgot your password? #[a.text-white(href="#") Reset now]
                                            p.m-0 
                                                | Don't have an account yet? #[a.text-white(href="/signup") Sign up now]


    include ../common/footer.pug 
    +footer()