doctype html
html(lang='en')
    include ../common/head.pug
    +head("Our valued customer")

    body
        header
            include ../common/navbar
            +navbar(navbar)
            .container 
            .row.justify-content-center
                .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
                    h1 Leads
                    br
                    table.table
                        thead.thead-light.bg-dark
                            tr 
                                th.text-light.bg-success(scope="col") Email 
                                th(scope="col") Update 
                                th(scope="col") Trash
                            tr 
                        tbody
                            tr(id=lead.id)
                                td
                                    span #{lead.email}
                                td  
                                    a(class="btn btn-warning", href="/lead/" + lead.id + "/edit") Edit
                                td 
                                    form(action="/lead/" + lead.id + "/delete", method="POST")
                                        button(type="submit", class="btn btn-danger") Delete
                            tr
                    a.btn.btn-primary(href="/leads") Go Back

        include ../common/footer.pug 
        +footer()
        script(src="/javascripts/leads.js")